@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sent Successfully</title>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

</head>

<style>
    .outside {
        margin-top: 100px;
    }
</style>

<body class="login">
    <div class="row">
        <div class="outside">
            <div>

                <h2>Thanks for contacting us.</h2>
                <h2>We will get back with you soon.</h2>
            </div>

            

        </div>
    </div>


</body>
</html>

