################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HospitalManagementSystem.csproj.user
/obj
/bin
