@model HospitalManagementSystem.Models.Patient
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Hospital management System </title>
</head>

<section id="logins" class="container-fluid">
    <div class="container">
            <h2>Logins</h2>
        <div class="col-sm-12">
            <div class="row no-margin">
                <div class="col-sm-4 blog-smk">
                        <img src="~/images/patient.jpg" alt="">
                            <h6>Patient Login</h6>
                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Login">
                                Click Here
                            </a>
                </div>
                <div class="col-sm-4 blog-smk">

                        <img src="~/images/doctor.jpg" alt="">
                            <h6>Doctors login</h6>
                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Login">
                                Click Here
                            </a>
                </div>

                <div class="col-sm-4 blog-smk">
                        <img src="~/images/admin.jpg" alt="">
                            <h6>Admin Login</h6>
                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Login">
                                Click Here
                            </a>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-sm-12">
                <h3>About Our Hospital</h3>
                <p>@Model.Firstname</p>
            </div>
        </div>

    </div>
</section>
