@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Hospital management System </title>

    <link rel="shortcut icon" href="Assets/images/fav.jpg">
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="Assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="Assets/css/style.css" />
</head>

<section id="logins" class="our-blog container-fluid">
    <div class="container">
        <div class="inner-title">
            @if (Context.Session.GetString("UID") != null)
            {
                @Context.Session.GetString("UID")

                <div class="blog-single-det">
                    <h6>Patient Login</h6>
                    <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Logout">
                        Log out
                    </a>

                </div>
            }
        </div>
        <div class="col-sm-12 blog-cont">
            <div class="row no-margin">
                <div class="col-sm-4 blog-smk">
                    <div class="blog-single">

                        <img src="/Assets/images/patient.jpg" alt="">

                        <div class="blog-single-det">
                            <h6>Patient Login</h6>
                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Login">
                                Click Here
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 blog-smk">
                    <div class="blog-single">

                        <img src="/Assets/images/doctor.jpg" alt="">

                        <div class="blog-single-det">
                            <h6>Doctors login</h6>
                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Login">
                                Click Here
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 blog-smk">
                    <div class="blog-single">

                        <img src="/Assets/images/admin.jpg" alt="">

                        <div class="blog-single-det">
                            <h6>Admin Login</h6>

                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Account" asp-action="Login">
                                Click Here
                            </a>
                        </div>
                    </div>
                </div>






            </div>
        </div>

    </div>
</section>
<script src="Assets/js/jquery-3.2.1.min.js"></script>
<script src="Assets/js/popper.min.js"></script>
<script src="Assets/js/bootstrap.min.js"></script>
<script src="Assets/plugins/scroll-nav/js/jquery.easing.min.js"></script>
<script src="Assets/plugins/scroll-nav/js/scrolling-nav.js"></script>
<script src="Assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>

<script src="Assets/js/script.js"></script>
</html>
